* {
    margin: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

body {
    height: 100vh;
    background-image: url('../images/bg2-futebol.jpg');
    background-position: center;
    background-size: cover;
}
footer {
    text-align: center;
    background-color: #555;
    padding: 20px;
    font-size: 10px;
}
footer a {
    color: #000;
    text-decoration: none;
}
footer a:hover {
    text-decoration: underline;
}


/* Barra de progresso */
.progresso {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    height: 60px;
}
.barra-progresso {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    height: 100%;
    transition: all ease 2.5s;
}
.barra-progresso img {
    height: 30px;
}
.gol {
    display: none;
    position: fixed;
    top: 0;
    right: 0;
}
.gol img {
    width: 60px;
}


/* Quiz */
.jogo {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}


/* Escolha da dificuldade */
.menu-escolha {
    display: block;
    height: 400px;
    width: 400px;
    border-radius: 40px;
    background-color: #7cfc00;
    box-shadow: 12px 10px 10px #333;
}
.menu-escolha-titulo {
    height: 110px;
    text-align: center;
    line-height: 110px;
}
.menu-escolha-corpo {
    padding: 30px;
}
.opcoes-dificuldade {
    display: flex;
    justify-content: space-between;
    border: 1px solid #63ca00;
    background-color: #9cff3c;
    padding: 10px 30px;
    margin-top: 10px;
    border-radius: 20px;
}
.opcoes-dificuldade:hover,
.alternativa:hover,
button:hover {
    background-color: #63ca00;
    cursor: pointer;
}


/* Area das perguntas */
.area-perguntas {
    display: none;
    height: 400px;
    width: 400px;
    border-radius: 40px;
    background-color: #7cfc00;
    box-shadow: 12px 10px 10px #333;
    padding: 30px;
}
.pergunta {
    text-align: center;
    height: 100px;
    padding: 25px 5px;
    font-weight: bold;
    font-size: 20px;
}
.alternativa {
    display: flex;
    align-items: center;
    border: 1px solid #63ca00;
    background-color: #9cff3c;
    padding: 10px 20px;
    margin-bottom: 10px;
    border-radius: 20px;
}
.alternativa span {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 25px;
    width: 25px;
    border-radius: 50%;
    border: 1px solid #000;
    margin-right: 20px;
}


/* Area do resultado final */
.area-placar {
    display: none;
    text-align: center;
    height: 400px;
    width: 400px;
    border-radius: 40px;
    background-color: #7cfc00;
    box-shadow: 12px 10px 10px #333;
    padding: 30px; 
}
.placar-resultado {
    margin-bottom: 40px;
}
.placar-imagem {
    margin: auto;
    width: 170px;
    height: 170px;
    margin-bottom: 30px;
}
.placar-descricao {
    margin-bottom: 20px;
}
button {
    padding: 7px 40px;
    border-radius: 20px;
    border: 1px solid #63ca00;
    cursor: pointer;
    background-color: #9cff3c;
    font-weight: bold;
}






/* Responsivo */
@media (min-width:340px) and (max-width:500px) {
    .menu-escolha,
    .area-perguntas,
    .area-placar {
        width: 80%;
    }

    .menu-escolha-titulo {
        font-size: 12px;
    }

    .area-placar {
        height: auto;
    }
    button {
        margin-bottom: 10px;
        padding: 8px 0px;
        width: 100px;
    }

    .tamanho-alternativas {
        font-size: 13px;
    }
    .pergunta {
        font-size: 16px;
    }
}